body{
    background-color: #2d2d2d;
	color: white;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;

  }
  a{
    text-decoration: none;
  }
	main {

	}
    header{
        width: 100%;
        backdrop-filter: blur(13px);
        height: 80px;
        padding: 0;
        background-color: #1e1e1ec1;
        margin: 0;
        display: block;
        position: fixed;
        box-shadow: 0 0 10px rgba(0, 0, 3, 0.5);
    }
    .logo{
        text-transform: uppercase;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 700;
        padding-left: 113px;
        margin-top: 26px;
        font-size: 20px;
        position: absolute;
        
        
    }
    span{
       left: 3%;
       cursor: pointer;
    }
    span:first-child{
        color: #f39b35;
    }
    span:last-child{
        color: #289fed;

    }
    
    .detail{
        width: 1000px;

        height: 100%;
        margin: 0 auto;
        
        display: block;
    }
    .navigation{
        height: 100%;
        justify-content: center;
        display: flex;
        text-align: center;
    }
    .navigation a{
        height: 100%;
        display: table;
        float: left;
        text-decoration: none;
        padding: 0 20px;
    }
    .navigation a li{
        color: rgb(207, 207, 207);
        padding: 0 40px;
        display: table-cell;
        text-transform: uppercase;
        vertical-align: middle;
        font-weight: 600;
        height: 100%;
        transition: .3s;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 15px;
    }
    .navigation a li:hover{
        color: white;
        scale: 107%;
    }
    .firstsection{
        display: grid;
        grid-template-columns: 1fr 500px;
        background-color: #1e1e1e;
        height: 718px;
        padding-right: 113px;
        padding-left: 113px;
        align-items: center;
        
    }
    .firsttext{
        position: relative;
        z-index: 1;
        height: 718px;
        margin-bottom: 20px;
    }
    .firsttext h1{
        width: 470px;
        font-size: 51px;
        
        margin-top: 150px; 
    }
    .firsttext p{
        font-size: 15px;
        width: 540px;
        margin-bottom: 70px;
    }
    .firsttext button{
        display: flex;
        width: 160px;
        border: none;
        border-radius: 20px;
        height: 45px;
        color: white;
        text-align: center;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        background-color: #ee7306;
        margin-bottom: 70px;
        transition: .2s;
    }
    .firsttext button:hover{
        scale: 110%;
        transition: .5s;
        background-color: #0d8ce1;
        color: black;
        font-size: 17px;
    }
    .firsttext img{
        margin: 0 10px;
    }
    .firsttext img:first-child{
        width: 100px;
    }
    .circle {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 300px;
        right: 150px;
        height: 715px;
        position: relative;
    }
    .circlee {
        width: 300px;
        height: 300px;
        border-radius: 50%;
        box-shadow:  0 0 90px 50px rgb(255, 162, 0);
        margin: auto;
    }
    .circle img{
        position: relative;
        right: 10px;
    }
    .secondsection{
        display: flex;
        width: 100%;
        justify-items: center;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 280px;
    }
    .secondsection img{
       margin: 0 100px;
    }
    .fosection{
        
    }
    .gradient{ 
        width: 100%;
        position: absolute;
        background-image: linear-gradient(to left, rgba(255, 255, 255, 0.007), black);
        height: 100%;
        opacity: .9;
    } 
    .fosection img{
        object-fit: cover;
        display: block;
    }
    .inside{
        padding-left: 113px;
        padding-right: 113px;
        position: absolute;
        bottom: -785px;
    }
    .inside h1{
       font-size: 37px;
       width: 40%;
       
    }
    .inside p{
        color: rgba(255, 255, 255, 0.678);
        font-weight: 200;
        font-size: 17px;
        line-height: 1.7;
        letter-spacing: 0.02em;
        width: 32%;
    }
    .inside a:hover{
        letter-spacing: 0.05em;
    }
    .inside a{
        font-size: 17px;
        text-transform: capitalize;
        text-decoration: underline;
        font-weight: 200;
        color: rgba(255, 255, 255, 0.857);
    }
    .inside img{
        position: relative;
        left: 48%;
        top: 70px;
    }
    .inside span{
        color: #f39b35;
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 600;
    }
    .finalsection{
        padding-right: 113px;
        padding-left: 113px;
        height: auto;
        background-color: #1e1e1e;
    }
    .more{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .morn{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .morn h1{
        font-weight: 400;
    }
    .morn a{
        color: #f39b35;
        text-decoration: underline;
    }
    .thumbn{
        display: grid;
	    grid-template-columns: repeat(auto-fit, minmax(30%, 5fr));
	    grid-column-gap: 15px;
	    grid-row-gap: 30px;
	    margin-top: 15px;
    }
    .bannerth{
        width: 100%;
        border-radius: 15px;
        transition: .2s;
    }
    .maker{
        display: flex;
        align-items: stretch;
    }
    .maker img{
        padding-left: 0px;
    }
    .maker span{
        padding-left: 10px;
        font-size: 17px;
        color: #f39b35;
        text-transform: capitalize;
    }
    .maker span:hover{
        text-decoration: underline;
    }
    .thumbn img:hover{
        scale: 104%;
        color: rgba(255, 255, 255, 0.6);
    }
    .amistart{
        margin-top: 16px;
        padding-left: 8px;
        display: flex;
        justify-content: space-between;
    }
    .info{
        align-items: flex-start;
	    margin-top: 7px;
    }
    .info h1{
        overflow-y: hidden;
        font-size: 18px;
        line-height: 28px;
        transition: .5s;
    }
    .info h1:hover{
        scale: 105%;
        text-decoration: underline;
    }
    .alls{
       display: flex;
       align-items: center;
    }
    .alls img{
        width: 80px;
        border-radius: 9999px;
        cursor: pointer;
    }
    .alls img:hover{
        scale: 105%;

        transition: .3s;
    }
    .allstext{
        flex: 1 1 0%;
        overflow-x: auto;
        margin-left: 32px;
        
    }
    .ps{
        justify-content: space-between;
        margin: 10px 0;
        display: flex;
    }
    .ps p:last-child{
        color: rgba(255, 255, 255, 0.60);
        font-weight: 100;
        font-size: 18px;
    }
    .isover{
        letter-spacing: 0.025em;
        font-size: 21px;
        color: white;
        width: 50%;
    }
    .guro{
        overflow: hidden;
        font-weight: 200;
        width: 50%;
        font-size: 18px;
        color: rgba(255, 255, 255, 0.60);
        overflow: hidden;
        line-height: 1.625;
    }
    .hr{
        height: 1px;
        background-color: white;
        width: 100%;
        margin-bottom: 24px;
    }
    .contact{
        background-color: #292929;
        color: white;
        width: 100%;
    }
    .iconnav{
        padding-top: 2.5rem; /* 40px */
        padding-bottom: 2.5rem; /* 40px */
        display: flex;
        gap: 1rem; /* 16px */
        align-items: center;
        flex-direction: column;
    }
    .icons a{
        color: white;
       margin: 0 5px;
    }
    
    .nav{
        justify-content: center;
        display: flex;
        text-align: center;
    }
    
    
    .nav a li{
        color: rgb(184, 184, 184);
        padding: 0 10px;
        display: table-cell;
        text-transform: capitalize;
        font-size: 15px;
    }
    .nav a li:hover{
        color: rgb(225, 165, 0);
        text-decoration: underline;
        scale: 107%;
    }
    .design{
        background-color: #242424;
        display: flex;
        align-items: center;
        color: #797979;
        flex-direction: column;
    }
    .design p{
        margin: 6px 50px;
        font-size: 14px;
    }
    .design a{
        color: rgb(204, 133, 1);
        text-decoration: underline;
    }
	@media (min-width: 640px) {
		main {
			max-width: none;
		}
	}